@inject IModalService ModalService
@{
    switch (ButtonType)
    {
        case ButtonTypes.Ok:
            <button class="btn btn-primary"
                    @onclick="@OkButtonClick"
                    title="Close"
                    type="submit">
                <span class="bi-x-square"></span>
            </button>
            break;

        case ButtonTypes.OkCancel:
            <button autofocus
                    class="btn btn-primary"
                    @onclick="@CancelButtonClick"
                    title="Close"
                    type="button">
                <span class="bi-x-square"></span>
            </button>
            <button class="btn btn-success"
                    @onclick="@OkButtonClick"
                    title="Save"
                    type="submit">
                <span class="bi-floppy"></span>
            </button>
            break;

        case ButtonTypes.SaveCancel:
            <button autofocus
                    class="btn btn-primary"
                    @onclick="@CancelButtonClick"
                    title="Close"
                    type="button">
                <span class="bi-x-square"></span>
            </button>
            <button class="btn btn-success"
                    form="AddOrEditForm"
                    @onclick="@OkButtonClick"
                    title="Save"
                    type="submit">
                <span class="bi-floppy"></span>
            </button>
            break;

        case ButtonTypes.DeleteCancel:
            <button autofocus
                    class="btn btn-primary"
                    @onclick="@CancelButtonClick"
                    title="Close"
                    type="button">
                <span class="bi-x-square"></span>
            </button>
            <button class="btn btn-danger"
                    @onclick="@OkButtonClick"
                    title="Delete"
                    type="button">
                <span class="bi-trash"></span>
            </button>
            break;
        case ButtonTypes.Cancel:
            <button class="btn btn-primary"
                    @onclick="@CancelButtonClick"
                    title="Close"
                    type="button">
                <span class="bi-x-square"></span>
            </button>
            break;
        case ButtonTypes.YesNo:
            <button autofocus
                    class="btn btn-primary"
                    @onclick="@OnYesClicked"
                    title="Close"
                    type="button">
                <span class="bi-x-square"></span>
            </button>
            <button class="btn btn-danger"
                    @onclick="@OnNoClicked"
                    title="Delete"
                    type="button">
                <span class="bi-trash"></span>
            </button>
            break;
    }
}