@inject IJSRuntime JsRuntime
@inject IModalService ModalService

<div aria-hidden="@(IsVisible ? "false" : "true")"
     class="modal fade @(IsVisible ? "show d-block" : "")"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     @ref="ModalElement"
     tabindex="-1">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable @ModalSize"
         @onclick:stopPropagation="true">
        <div class="modal-content"
             id="modal-content">
            <DialogHeader ActionType="@ActionType"
                          HeaderTemplate="@HeaderTemplate"
                          OnCloseClick="HideAsync"
                          Title="@Title">
            </DialogHeader>
            <DialogBody BodyTemplate="@BodyTemplate"
                        ChildComponent="@ChildComponent"
                        IsLoading="@IsLoading"
                        Message="@Message"
                        ShowBody="@ShowBody"
                        Parameters="@Parameters">
            </DialogBody>
            <DialogFooter ButtonType="@ButtonType"
                          FooterTemplate="@FooterTemplate"
                          ShowFooter="@ShowFooter">
            </DialogFooter>
        </div>
    </div>
</div>